## Variable

In [81]:
x = 5
y = "Python"
z = 3.14

In [82]:
type(z)

float

In [83]:
a = b = c = 100

In [84]:
print(a, b, c)

100 100 100

## List
- list_var[index]
- list_var[start_index:end_index]

In [85]:
list_var = [0, 1, 2, 3, 4, 5, "Hello", "How are you"]
list_var

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you']

In [86]:
list_var[6:]

['Hello', 'How are you']

In [87]:
print(list_var)

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you']

In [88]:
# append
list_var.append(6)
print(list_var)

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you', 6]

### Update list.

In [89]:
list_var[6] = 7

In [90]:
print(list_var)

[0, 1, 2, 3, 4, 5, 7, 'How are you', 6]

In [91]:
list_var.remove(6)
list_var

[0, 1, 2, 3, 4, 5, 7, 'How are you']

In [92]:
del list_var[3]
print(list_var)

[0, 1, 2, 4, 5, 7, 'How are you']

In [93]:
print(list_var[3])

4

In [94]:
print(list_var[7])

IndexError: list index out of range

## Tuple

In [ ]:
tuple_var = (1, 1, 1, 2, 3, 4, 5)

print(tuple_var)

(1, 1, 1, 2, 3, 4, 5)

In [ ]:
print(tuple_var[1])

2

In [ ]:
print(tuple_var[1:])

(2, 3, 4, 5)

In [ ]:
tuple_var[2] = 7

TypeError: 'tuple' object does not support item assignment

In [ ]:
del tuple_var[2]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
tuple_var.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
tuple_list = list(tuple_var)
print(tuple_list)

[1, 1, 1, 2, 3, 4, 5]

In [ ]:
tuple_list[4] = 7
print(tuple_list)

[1, 1, 1, 2, 7, 4, 5]

In [ ]:
tuple_var = tuple(tuple_list)
print(tuple_var)

(1, 1, 1, 2, 7, 4, 5)

## Dictionary
- key value pair
- no order

In [95]:
dict_var = {"name":"Mark", "age": 25}

In [96]:
print(f"His name is {dict_var['name']} and he is {dict_var['age']} years old.")

His name is Mark and he is 25 years old.

In [97]:
dict_var2 = {"name": "Honey", "age": 14}

In [98]:
print(dict_var2)

{'name': 'Honey', 'age': 14}

In [99]:
del dict_var2['age']

In [100]:
print(dict_var2)

{'name': 'Honey'}

In [104]:
dict_var2['age'] = 25

In [105]:
print(dict_var2)

{'name': 'Alice', 'age': 25}

In [106]:
dict_var2['age'] = 30

In [107]:
print(dict_var2)

{'name': 'Alice', 'age': 30}

In [108]:
dict_var2['education'] = 'Bachelor'

In [109]:
print(dict_var2)

{'name': 'Alice', 'age': 30, 'education': 'Bachelor'}

## Set
- no duplicate value.
- no order.
- no index.

In [119]:
set_var = {'Hello', 'How are you', 'Apple', 1, 1, 1, 1, 2, 3, 4, 5}

In [120]:
print(set_var)

{1, 2, 3, 'Apple', 4, 5, 'Hello', 'How are you'}