## Variable

In [36]:
x = 5
y = "Python"
z = 3.14

In [37]:
type(z)

float

In [38]:
a = b = c = 100

In [39]:
print(a, b, c)

100 100 100

## List
- list_var[index]
- list_var[start_index:end_index]

In [40]:
list_var = [0, 1, 2, 3, 4, 5, "Hello", "How are you"]
list_var

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you']

In [41]:
list_var[6:]

['Hello', 'How are you']

In [42]:
print(list_var)

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you']

In [43]:
# append
list_var.append(6)
print(list_var)

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you', 6]

### Update list.

In [45]:
list_var[6] = 7

In [46]:
print(list_var)

[0, 1, 2, 3, 4, 5, 7, 'How are you', 6]

In [28]:
list_var.remove(6)
list_var

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you']

In [29]:
del list_var[3]
print(list_var)

[0, 1, 2, 4, 5, 'Hello', 'How are you']

In [30]:
print(list_var[3])

4

In [32]:
print(list_var[7])

IndexError: list index out of range

## Set
- no duplicate value.
- no order.

In [10]:
set_var = {"hello", 1, 2, 2, 2, 2, 3, 4, 5}
print(set_var)

{1, 2, 3, 4, 5, 'hello'}

In [12]:
set_var[0]

TypeError: 'set' object is not subscriptable

In [11]:
for value in set_var:
    print(value)

1
2
3
4
5
hello

## Tuple

In [50]:
tuple_var = (1, 1, 1, 2, 3, 4, 5)

print(tuple_var)

(1, 1, 1, 2, 3, 4, 5)

In [19]:
print(tuple_var[1])

2

In [33]:
print(tuple_var[1:])

(2, 3, 4, 5)

In [35]:
tuple_var[2] = 7

TypeError: 'tuple' object does not support item assignment

In [48]:
del tuple_var[2]

TypeError: 'tuple' object doesn't support item deletion

In [49]:
tuple_var.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [52]:
tuple_list = list(tuple_var)
print(tuple_list)

[1, 1, 1, 2, 3, 4, 5]

In [54]:
tuple_list[4] = 7
print(tuple_list)

[1, 1, 1, 2, 7, 4, 5]

In [55]:
tuple_var = tuple(tuple_list)
print(tuple_var)

(1, 1, 1, 2, 7, 4, 5)

## Dictionary
- key value pair
- no order