## Variable

In [106]:
x = 5
y = "Python"
z = 3.14

In [107]:
print(x)
print(y)
print(z)

5
Python
3.14

In [108]:
x = "I\"m myo."

print(x)

I"m myo.

In [109]:
type(z)

float

In [110]:
a = b = c = 100

In [111]:
print(a, b, c)

100 100 100

## List
- list_var[index]
- list_var[start_index:end_index]

In [112]:
list_var = [0, 1, 2, 3, 4, 5, "Hello", "How are you"]
print(list_var)

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you']

In [113]:
student_grades = [11, 12, 13, 14]
print(student_grades)

[11, 12, 13, 14]

In [114]:
list_var[6:]

['Hello', 'How are you']

In [115]:
print(list_var)

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you']

In [116]:
# append
list_var.append(6)
list_var.append(6)
print(list_var)

[0, 1, 2, 3, 4, 5, 'Hello', 'How are you', 6, 6]

### Update list.

In [117]:
list_var[3] = 6

In [118]:
print(list_var)

[0, 1, 2, 6, 4, 5, 'Hello', 'How are you', 6, 6]

In [119]:
list_var.remove(6)
list_var

[0, 1, 2, 4, 5, 'Hello', 'How are you', 6, 6]

In [120]:
list_var.remove(4)
list_var

[0, 1, 2, 5, 'Hello', 'How are you', 6, 6]

In [121]:
list_var.remove(2)
list_var

[0, 1, 5, 'Hello', 'How are you', 6, 6]

In [122]:
del list_var[3]
print(list_var)

[0, 1, 5, 'How are you', 6, 6]

In [123]:
del list_var[3]
print(list_var)

[0, 1, 5, 6, 6]

In [125]:
print(list_var[3])

6

In [126]:
print(list_var[7])

IndexError: list index out of range

In [128]:
len(list_var)

5

## Tuple

In [ ]:
tuple_var = (1, 1, 1, 2, 3, 4, 5)

print(tuple_var)

(1, 1, 1, 2, 3, 4, 5)

In [ ]:
print(tuple_var[1])

2

In [ ]:
print(tuple_var[1:])

(2, 3, 4, 5)

In [ ]:
tuple_var[2] = 7

TypeError: 'tuple' object does not support item assignment

In [ ]:
del tuple_var[2]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
tuple_var.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
tuple_list = list(tuple_var)
print(tuple_list)

[1, 1, 1, 2, 3, 4, 5]

In [ ]:
tuple_list[4] = 7
print(tuple_list)

[1, 1, 1, 2, 7, 4, 5]

In [ ]:
tuple_var = tuple(tuple_list)
print(tuple_var)

(1, 1, 1, 2, 7, 4, 5)

In [ ]:
student_grades = [11, 12, 13, 14]

In [ ]:
# student_grade
0: 11
1: 12
2: 13
3: 14

## Dictionary
- key value pair
- no order

In [135]:
student1 = ["Mark", 25, "Business", "1A"]
# student1
# 0: "Mark"
# 1: 25
# 2: "Business"
# 3: "1A"

In [136]:
# age of Student 1
print(student1[1])

25

In [ ]:
student1 = {
    "name": "Mark",
    "age": 25,
    "program": "Business",
    "class": "1A"
}

# student1
# name: "Mark"
# age: 25
# program: "Business"
# class: "1A"

In [138]:
# age of Student 1
print(student1["age"])

25

In [ ]:
student1["age"]

25

In [ ]:
print(f"His name is {student1['name']} and he is {student1['age']} years old.")

His name is Mark and he is 25 years old.

In [139]:
dict_var2 = {"name": "Honey", "age": 14}

In [140]:
print(dict_var2)

{'name': 'Honey', 'age': 14}

In [141]:
del dict_var2['age']

In [142]:
print(dict_var2)

{'name': 'Honey'}

In [143]:
dict_var2['age'] = 25

In [145]:
print(dict_var2)

{'name': 'Honey', 'age': 25}

In [147]:
dict_var2['age'] = 30

In [148]:
print(dict_var2)

{'name': 'Honey', 'age': 30}

In [149]:
dict_var2['education'] = 'Bachelor'

In [150]:
print(dict_var2)

{'name': 'Honey', 'age': 30, 'education': 'Bachelor'}

In [151]:
students = [
    {
        "name": "Mark",
        "age": 25,
        "program": "Business",
        "class": "1A"
    },
    {
        "name": "Honey",
        "age": 14,
        "program": "Science",
        "class": "2B"
    },
    {
        "name": "John",
        "age": 22,
        "program": "Arts",
        "class": "3C"
    }
]

In [153]:
students[0]["name"]

'Mark'

## Set
- no duplicate value.
- no order.
- no index.

In [158]:
set_var = {'Hello', 'How are you', 'Apple', 1, 1, 1, 1, 2, 3, 4, 5}

In [159]:
print(set_var)

{1, 2, 3, 4, 5, 'How are you', 'Apple', 'Hello'}

In [160]:
set_var.add(6)
print(set_var)

{1, 2, 3, 4, 5, 6, 'How are you', 'Apple', 'Hello'}

In [166]:
ait_schools = ["SET", "SERD", "SOM", "SET"]
print(ait_schools)

['SET', 'SERD', 'SOM', 'SET']

In [167]:
ait_schools = set(ait_schools)
ait_schools = list(ait_schools)
print(ait_schools)

['SERD', 'SOM', 'SET']

# Transversing lists, dictionaries, tuples, and sets

In [ ]:
students_email = [
    "mark@example.com",
    "honey@example.com",
    "john@example.com",
    "alice@example.com",
    "bob@example.com"
]

In [175]:
students_email[0]
print("Send 'Hello' email to ", students_email[0])

Send 'Hello' email to  mark@example.com

In [176]:
for email in students_email:
    print("Send 'Hello' email to ", email)

Send 'Hello' email to  mark@example.com
Send 'Hello' email to  honey@example.com
Send 'Hello' email to  john@example.com
Send 'Hello' email to  alice@example.com
Send 'Hello' email to  bob@example.com

In [177]:
student1 = {
    "name": "Mark",
    "age": 25,
    "program": "Business",
    "class": "1A"
}

for key, value in student1.items():
    print(key, ":", value)

name : Mark
age : 25
program : Business
class : 1A

In [179]:
students = [
    {"name": "Mark", "age": 25, "program": "Business", "class": "1A", "school": "SET"},
    {"name": "Honey", "age": 14, "program": "Science", "class": "1B", "school": "SERD"},
    {"name": "John", "age": 22, "program": "Arts", "class": "1C", "school": "SOM"},
    {"name": "Alice", "age": 23, "program": "Engineering", "class": "1D", "school": "SET"},
    {"name": "Bob", "age": 24, "program": "Law", "class": "1E", "school": "SERD"},
    {"name": "Charlie", "age": 26, "program": "Medicine", "class": "1F", "school": "SOM"}
]

In [181]:
schools = []
for single_student in students:
    schools.append(single_student["school"])

In [182]:
print(schools)

['SET', 'SERD', 'SOM', 'SET', 'SERD', 'SOM']

In [183]:
schools = set(schools)
print(schools)

{'SERD', 'SOM', 'SET'}